@use './colors.scss' as *;
@use './mixins.scss' as *;

:root {
    --background: #{$white};
    --text-color: #{$black};
    --navbar-bg-color: #{$lightteal};
    --header-bg-color: #{$lightteal};
    --border-color: #{$lightgray};
    --primary-color: #{$red};
    --secondary-color: #{$gray};
    --tertiary-color: #{$teal};
    --search-bar-bg-color: #{$white};

    .dark {
        --background: #{$black};
        --text-color: #{$white};
        --navbar-bg-color: #{$black};
        --header-bg-color: #{$black};
        --border-color: #{$red};
        --primary-color: #{$red};
        --secondary-color: #{$gray};
        --tertiary-color: #{$teal};
        --search-bar-bg-color: #{$black};
    }
}