@use '../shared/index.scss' as *;
// ---- Navbar ----
.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.7em;

    @include responsive($desktop) {
        justify-content: space-around;
        flex-direction: row-reverse;
    }
    
    @include responsive($tablet) {
        background-color: var(--navbar-bg-color);
    }
}

.nav-icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding-right: 1em;
}

.nav-search-icon {
    @include responsive($desktop) {
        display: none;
    }
}

// ---- Language Dropdown ----
.lang-dropdown-menu-container {
    max-width: 3em;
    position: relative;
    background-color: transparent;
    border: none;
}

.lang-selected-dropdown-item {
    font-size: 1.2em;
    background-color: transparent;
    border: none;

    @include responsive($desktop) {

    }
}

.lang-dropdown-items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: none;
    transform: translateX(-100%);
}

.lang-dropdown-item {
    list-style: none;
    cursor: pointer;

}

.open {
    width: 100%;
}

.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
